albumentations==0.4.3
opencv-python
pudb==2019.2
imageio==2.9.0
imageio-ffmpeg==0.4.2
pytorch-lightning==1.6.0rc0
torchmetrics==0.6
omegaconf==2.1.1
test-tube>=0.7.5
streamlit>=1.30.0
einops==0.3.0
transformers==4.37.0
webdataset==0.2.5
open-clip-torch==2.7.0
gradio==4.22.0
kornia==0.6
invisible-watermark>=0.1.5
streamlit-drawable-canvas==0.8.0
-e .
aiohttp>=3.9.2 # not directly required, pinned by Snyk to avoid a vulnerability
fastapi>=0.109.1 # not directly required, pinned by Snyk to avoid a vulnerability
fonttools>=4.43.0 # not directly required, pinned by Snyk to avoid a vulnerability
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability
orjson>=3.9.15 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=10.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
pyarrow>=14.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
validators>=0.21.0 # not directly required, pinned by Snyk to avoid a vulnerability
werkzeug>=2.3.8 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
